$a:100;
$b:100px;

html{
    font-size:$a * 0.5%;
    line-height: $a * 0.5px;
    width: $a + 200px;
    height: $a - 50%;
    padding-top: $b/4;
    /*padding-left: 300/#{$a}px;
    padding-right:10%3*/
}
