.a0 {
  color: red;
}

.a1 {
  color: red;
}

.a2 {
  color: red;
}

.a3 {
  color: red;
}

.a4 {
  color: red;
}

.a5 {
  color: red;
}

.a6 {
  color: red;
}

.a7 {
  color: red;
}

.a8 {
  color: red;
}

.a9 {
  color: red;
}
